/*------------------------------------------------------------------------
# Palettes
------------------------------------------------------------------------*/
.palette-primary {
	background: $palette-primary_neutral-color;
	color: $text-contrast-palette-primary_neutral-color;

	/*-----------------------------------------------
	## 1
	-----------------------------------------------*/
	a,
	a:hover,
	a:focus,
	.site-header a,
	.site-footer a,
	.site-description,
	#secondary-menu a,
	#tertiary-menu a,
	.link-primary,
	.link-primary:hover,
	.link-primary:focus,	
	.navbar-default .navbar-nav > li > a:hover,
	.navbar-default .navbar-nav > li > a:focus,	
	.navbar-default .navbar-nav > .active > a,
	.navbar-default .navbar-nav > .active > a:hover,
	.navbar-default .navbar-nav > .active > a:focus {
		color: $palette-primary_1;
	}
	mark {
		background: $palette-primary_1;
		color: $text-contrast-palette-primary_1;
	}
	.post .entry-title a,
	.pager li > a {
		background: $palette-primary_neutral-color;
		color: $palette-primary_1;
	}
	.navbar-default .navbar-toggle,
	.pager li > a,
	#reviews #comments ol.commentlist li .comment-text {
		border-color: $palette-primary_1;
	}

	/*-----------------------------------------------
	## 2
	-----------------------------------------------*/
	.link-secondary,
	.link-secondary:hover,
	.link-secondary:focus {
		color: $palette-primary_2;
	}
	kbd,
	code {
		background: $palette-primary_2;
		color: $text-contrast-palette-primary_2;
	}

	/*-----------------------------------------------
	## 3
	-----------------------------------------------*/
	#menu-social li a:hover,
	#menu-social li a:focus,
	#secondary-menu li.menu-social a:hover,
	#secondary-menu li.menu-social a:focus,
	#tertiary-menu li.menu-social a:hover,
	#tertiary-menu li.menu-social a:focus,
	#footer-center-menu li.menu-social a:hover,
	#footer-center-menu li.menu-social a:focus {
		color: $palette-primary_3;
	}
	hr {
		background: $palette-primary_3;
	}
	blockquote,
	.mod-blockquote p {
		border-left: 7px solid $palette-primary_3;
	}

	/*-----------------------------------------------
	## 4
	-----------------------------------------------*/
	.site-footer a:hover,
	.site-footer a:focus,
	#secondary-menu a[href]:hover,
	#tertiary-menu a[href]:hover,
	#footer-widget-area caption,
	.footer-center-items > li > a:hover,
	.footer-center-items > li > a:focus {
		color: $palette-primary_4;
	}
	.navbar-default .navbar-toggle:hover,
	.navbar-default .navbar-toggle:focus,
	.navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
	.navbar-default .navbar-nav .open .dropdown-menu > li > a:focus,
	.navbar-default .navbar-nav .open .dropdown-menu > .active > a,
	.navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover,
	.navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus, {
		background: $palette-primary_4;
		color: $text-contrast-palette-primary_4;
	}
	.navbar-default .navbar-toggle .icon-bar {
		background-color: $palette-primary_4;
	}
	.navbar-default .navbar-toggle:hover .icon-bar,
	.navbar-default .navbar-toggle:focus .icon-bar {
		background-color: $text-contrast-palette-primary_4;
	}
	.logged-in-as > a,
	#secondary-menu .current_page_item a,
	#tertiary-menu .current_page_item a,
	#menu-social-items .current_page_item a {
		background: none;
		color: $palette-primary_4;
	}

	/*-----------------------------------------------
	## 5
	-----------------------------------------------*/
	.sidebar,
	.comments,
	.panel-body,
	.panel-footer,
	.site-header,
	#masthead > p,
	.site-footer,
	.dropdown-menu,
	.panel-heading,
	.media-heading,
	.comments-title,
	.well,
	.dropdown-menu > li > a,
	.widget ul#recentcomments > li,
	.comments-area .comment-content p,
	.navbar-default .navbar-nav > li > a,
	.navbar-default .navbar-nav > .open > a,
	.navbar-default .navbar-nav > .open > a:hover,
	.navbar-default .navbar-nav > .open > a:focus,
	.navbar-default .navbar-nav > .current-menu-parent > a,
	.navbar-default .navbar-nav .open .dropdown-menu > li > a {
		background: $palette-primary_5;
		color: $text-contrast-palette-primary_5;
	}
	pre,
	#respond .alert.alert-info {
		background: $palette-primary_5;
		color: $text-contrast-palette-primary_5;
		border: 1px solid $palette-primary_1;
	}
	.site-header {
		color: $palette-primary_5;
	}
	.table > tbody > tr > td,
	.table > tbody > tr > th,
	.table > tfoot > tr > td,
	.table > tfoot > tr > th,
	.table > thead > tr > td,
	.table > thead > tr > th {
		border-top: 1px solid $text-contrast-palette-primary_5;
	}
	.widget-title {
		color: $text-contrast-palette-primary_5;
	}
	@media only screen and (min-width: 768px) {
		.navbar-default .navbar-nav .open .dropdown-menu > li > a {
			color: $text-contrast-palette-primary_5;
		}
	}
	
	/*-----------------------------------------------
	## Neutral
	-----------------------------------------------*/
	.post .entry-header,
	.entry-title a {
		color: $text-contrast-palette-primary_neutral-color;
	}
	#boldgrid-sticky-push,
	#boldgrid-sticky-filler {
		background-color: $palette-primary_neutral-color;
	}
	.well {
		border: 1px solid $palette-primary_neutral-color;
	}
	#reviews #comments ol.commentlist li .meta,
	.pager li > a:focus,
	.pager li > a:hover {
		color: $text-contrast-palette-primary_neutral-color;
	}
	&.archive .site-content,
	&.single .site-content,
	&.blog .site-content {
		background: $palette-primary-neutral-color;
		color: $text-contrast-palette-primary-neutral-color;
	}
}

/*------------------------------------------------------------------------
# Additional Body Classes
------------------------------------------------------------------------*/
.palette-primary.disabled-footer .site-footer {
	background: $palette-primary_neutral-color;
	color: $text-contrast-palette-primary_neutral-color;
}
